.request-card-container {
    width: 20%;
    box-shadow: 2px 5px 43px rgba(188, 207, 219, 0.65);
    a {
        text-decoration: none;
        color: black;
    }
    &:hover {
        transition: all 0.4s ease;
        box-shadow: 16px 11px 56px rgba(139, 166, 183, 0.7);
    }
}

.request-card-image {
    width: 100%;
    img {
        width: 100%;
    }
}

.request-card-content {
    padding: 10px;
}

.request-card-title-container p {
    font-size: 14px;
    font-weight: 500;
}

.card-profile-name {
    font-size: 13px;
    color: #ADAEB2;
}

.request-card-middle-section {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    .card-price-listing {
        margin-left: auto;
        color: #7c43ac;
    }
}

.viwers-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        margin-left: 5px;
    }
}

.ratings-section {
    display: flex;
    p{
        margin-left: auto;
    }
}